.ChapitreMenu {
    height: 100vh;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .header {
        .title {
            color: white;
            padding: 4% 6%;
        }
    }
    .menuTitle {
        padding-left: 6%;
        margin-top: 10vh;
        font-size: 60px;
        width: 50%;
        line-height: 90px;
        font-family: "Roboto bold";


        // TODO  mediaquery
    }
    .userInteraction {
        display: flex;
        margin-top: 30px;
        margin-left: calc(6vw + 2px);
        align-items: center;
        .buttonSection {
            display: flex;
            align-items: center;
            flex-direction: row;
            width: 22vw;
            margin-top: 5vh;

            // TODO mediaquery
        }
        .button {
            height: 50px;
            width: 50px;
            border-radius: 50px;
            box-shadow: inset 0 0 0 1px white;
            cursor: pointer;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
        .play, .arrowDown {
            width: 10px;
            height: auto;
        }
        .description {
            font-family: "Roboto Bold";
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 10px;
            margin-left: 15px;
        }

    }
}

.ChapitreIntro {
    height: 100vh;
    position: relative;
    background-color: #0b1636;
    .intro {
        display: grid;
        grid-template-columns: 50% 50%;
        height: 100%;
        .title {
            padding: 6vw;
            width: 80%;
        }
        .picture {
            position: relative;
            .playerInfo{
                position: absolute;
                top: 30%;
                left: 20%;
                .tag {
                    font-family: "Roboto Bold"
                }
                .name {

                }
            }
            img {
                position: absolute;
                bottom: 0;
                right: 20%;
                width: 40%;
                height: auto;
            }
        }
    }
    .introPicture {
        float: right;
    }
}

.ChapitreContent {
    color: #0b1636;
    position: relative;
    height: auto;
    min-height: 100vh;
    background-color: white;
    .dualContent {
        display: flex;
        align-items: center;
        grid-template-columns: 50% 50%;
        .articlePicture {
            width: 50%;
            margin-top: -200px;
            margin-left: 6vw;
            z-index: 2;
            .greyPlaceholderForPicture {
                height: 700px;
                z-index: 2;
                width: 44vw;
                background-color: grey;
            }
        }
        .articleOne {
            width: 44vw;
            padding: 6vw;
            margin-top: -100px;
        }
    }
    .articleTwo {
        padding: 6vw;
        width: 44vw;
    }
    .title {
        font-family: "Roboto Bold";
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 20px;
    }
    .content {
        font-family: "Roboto Light";
        font-size: 14px;
        line-height: 21px;
    }
    .playerVideo {
        z-index: 2;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
}

.ChapitreFooter {
    background-color: #0b1636;
    height: 150px;
    text-align: center;
    .footerButtons {
        width: 60%;
        margin: auto;
        padding-top: 60px;
        .user-interaction {
            display: flex;
            align-items: center;
            .button {
                height: 50px;
                width: 50px;
                border-radius: 50px;
                box-shadow: inset 0 0 0 1px white;
                cursor: pointer;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                .white-space {
                    height: 5px;
                    width: 5px;
                    border-radius: 50px;
                    background-color: white;
                }
                .arrowLeft {
                    margin-left: -1px;
                    width: 30%;
                    transform: rotate(90deg);
                }
                .arrowRight {
                    width: 30%;
                    margin-left: 1px;
                    transform: rotate(270deg);
                }

            }
            .description {
                font-family: "Roboto Bold";
                text-transform: uppercase;
                letter-spacing: 2px;
                font-size: 10px;
                margin-left: 15px;
            }
        }
        .hidden {
            visibility: hidden;
        }
        .left {
            float: left;
        }
        .right {
            float: right;
        }
    }
}
.BurgerMenu {
    .svgContainer {
        position: absolute;
        top: 4vw;
        right: 6vw;
        .black {
            fill: #0b1636;
        }
    }
    .button {
        background-color: rgba(11, 22, 54, 0.3);
        padding: 20px 22px;
        top: calc(4vw - 20px);
        right: calc(6vw - 22px);
        border-radius: 50px;
        cursor: pointer;

    }
    .icon {
        cursor: pointer;
        z-index: 5;
        position: -webkit-sticky;
        position: sticky;
    }
    .view {
        position: absolute;
        z-index: 3;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background-color: white;
        .Grid {
            hr {
                border-color: #979797;
                opacity: 0.1;
            }
        }
        .currentChapter {
            z-index: 3;
            margin: 15vh calc(6vw);
            height: 70vh;
            width: calc(88vw + 2px);
            position: relative;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            .container {
                z-index: 3;
                display: flex;
                padding-top: 30vh;
                align-items: center;
                width: 80%;
                justify-content: space-between;
                margin-left: 10%;
                .info {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    .arrowSection {
                        display: flex;
                        flex-direction: column;
                        .hidden {
                            visibility: hidden;
                        }                     
                        .arrowUp {
                            transform: rotate(180deg);
                            margin-bottom: 12px;
                            cursor: pointer;
                        }
                        .index {
                            font-size: 60px;
                            font-family: "Roboto Bold";
                        }
                        .arrowDown {
                            margin-top: 12px;
                            cursor: pointer;
                        }
                    }
                    .title {
                        display: block;
                        margin-top: 30px;
                        text-transform: uppercase;
                        font-size: 10px;
                        margin-left: 15px;
                    }
                }
                .barres {
                    position: relative;
                    hr {
                        border-color: rgba(130, 134, 184, 0.2);
                        border-radius: 50px;
                        background-color: rgba(130, 134, 184, 0.2);
                        height: 3px;
                        width: 30px;
                    }
                    .index1 {
                        top: -14px;
                    }
                    .index2 {
                        top: 0px;
                    }
                    .index3 {
                        top: 14px;
                    }
                    .active {
                        background-color: white;

                    }
                }
            }
        }
    }
    .link {
        position: absolute;
        z-index: 3;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        bottom: 6vh;
        right: 6vw;
        letter-spacing: 2px;
        font-family: "Roboto Bold";
        font-size: 10px;
        a {
            color: #0b1636;
            text-decoration: none;
            text-transform: uppercase;
        }
        .first {
            margin-right: 3vw;
        }
    }
}
.animated {
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
}