.Home {
    height: 100vh;
    // background-color: #21233C;
    background-image: url('../assets/img/blueHome.png');
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    // background-blend-mode: soft-light;
    // pour l'autre type d'image : luminosity et dans ce ton la 8286B8;
    
    .introduction {
        padding: 10vh 25vw 0;
        .title {
            font-family: "Roboto Bold";
            font-weight: bold;
            font-size: 60px;
            line-height: 35px;
            margin-bottom: 30px;
        }
        .introDescription {
            font-family: "Roboto Light";
            font-size: 16px;
            line-height: 26px;
        }
        .user-interaction {
            display: flex;
            margin-top: 30px;
            align-items: center;
            .button {
                height: 50px;
                width: 50px;
                border-radius: 50px;
                box-shadow: inset 0 0 0 1px white;
                cursor: pointer;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                .white-space {
                    height: 5px;
                    width: 5px;
                    border-radius: 50px;
                    background-color: white;
                    transition: all 1.3s ease;
                }
            }
            .button:active {
                .white-space {
                    height: 50px !important;
                    width: 50px !important;
                }
            }
            .description {
                font-family: "Roboto Bold";
                text-transform: uppercase;
                letter-spacing: 2px;
                font-size: 10px;
                margin-left: 15px;
            }
        }
    }
    .header {
        .title {
            padding: 5%;
            strong {
                font-weight: bold;
            }
        }
    }
}
