.Home {
    height: 100vh;
    background: #040528;
    .header {
        .title {
            .burger {
                .ul {
                    display: grid;
                    grid-template-columns: 1fr 1fr; 
                    grid-template-rows: auto;
                    .li {
                        width: 2px;
                        height: 2px;
                        background-color: white;
                    }
                }
            }
        }
    }
}