@font-face {
    font-family: "Roboto Light";
    src: url("../assets/fonts/Roboto-Light.ttf"),
}
@font-face {
    font-family: "Roboto Regular";
    src: url("../assets/fonts/Roboto-Regular.ttf"),
}
@font-face {
    font-family: "Roboto Bold";
    src: url("../assets/fonts/Roboto-Bold.ttf"),
}

@import './reset.scss';
@import './Home.scss';
@import './Chapitre.scss';
@import './Propos.scss';


body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Regular",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

hr {
    position: absolute;
    z-index: 1;
    margin: 0;
    width: 1px;
    box-sizing: border-box;
    height: 100vh;
    border-color: rgba(130, 134, 184, 0.2);
}
.hr1 {
    left: 5vw;
}
.hr2 {
    left: 25vw;
}
.hr3 {
    left: 50vw;
}
.hr4 {
    left: 75vw;
}
.hr5 {
    left: 95vw;
}
