.PagePropos {
  height: 100vh;
  background-image: url("../assets/img/BackgroundPropos.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  @media screen and (max-width: 400px) {
    height: auto;
  }
  .header {
    .arrowContainer {
        position: absolute;
        top: calc(4vw - 20px);
        left: calc(6vw - 20px);
        z-index: 3;
        background-color: rgba(11, 22, 54, 0.3);
        padding: 20px;
        border-radius: 50px;
        cursor: pointer;
        .arrowBack {
            margin-left: -3px;
            transform: rotate(90deg);
        }
    }
  }
  .apropos {
    padding: 18vh 28vw 0;

    .title {
      font-family: "Roboto Bold";
      font-weight: bold;
      font-size: 60px;
      line-height: 35px;
      margin-bottom: 70px;
    }

    .introDescription {
      font-family: "Roboto Light";
      font-size: 15px;
      line-height: 26px;
    }

    .introDescriptionSecond {
      font-family: "Roboto Light";
      margin-top: 30px;
      font-size: 15px;
      line-height: 26px;
    }
  }
};
@media screen and (min-width: 200px) and (max-width: 600px) {
  .PagePropos {
    .apropos {
      padding: 15vh 6vw;
    }
  }
};
